
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.sliderLogos{
    overflow: hidden;
    padding: 10px;
    background: #000000;
    white-space: nowrap;
}
.sliderLogos:hover .logos_Slide{
    animation-play-state: paused;
}
.logos_Slide{
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos_Slide img{
    height: 20px;
    margin: 0 20px;
}

         /* Push */